Package: abysxx.github.omneon
Name: Omneon
Version: 0.2.3
Architecture: iphoneos-arm
Description: A Spotify tweak that adds more customization options *WIP*
Maintainer: Abyss
Author: Abyss
Section: Tweaks
Icon: https://github.com/Abysxx/Omneon/blob/main/Icon.PNG?raw=true
Depends: ${ORION}, firmware (>= 12.2)
